.App {
  text-align: center;
  background-color: #181b34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
  padding: 2rem;
}

.bg-not-started {
  background-color: var(--dark) !important;
}
.bg-working {
  background-color: orange !important;
}
.bg-blocked {
  background-color: tomato !important;
}
.bg-finished {
  background-color: green !important;
}

.squared {
  border-radius: 0px;
}

.card-body {
  padding: 0rem;
}

.board .col-md-6 {
  height: 100%;
  overflow-y: scroll;
}

.tasks {
  margin: 0;
  list-style: none;
  padding-left: 0;
  color: #282c34;
  min-height: 3rem;
}

select {
  user-select: none;
  border: none !important;
}

.tasks li {
  display: flex;
  align-items: center;
  margin: 0;
}

.bg-dark-info {
  background-color: #33354b;
  color: white;
}

.tasks p {
  max-width: none;
  margin: 0;
  text-align: left;
}

.tasks-avatar {
  overflow: hidden;
  flex-shrink: 0;
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 9999px;
  background-color: #133b5c;
  color: white;
  margin-right: 0.5em;
}

/* Width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
